
body{
    background-color: #cdf0ff;
}

div h1{
    text-align: center;
    margin-left: 5%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color:  white;
	text-align: justify;
	font-variant: small-caps;
    font-weight: bolder;
    margin-bottom: -20px;
    margin-top: -20px;
}

h2{
    padding-left: 10px;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #1679B2;
	font-size: 16px;
	font-style: bold;
	font-variant: small-caps;
}
button img{
    width:24px;
    height:24px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #1679B2;
	text-align: justify;
}
label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

input[type=text], input[type=password] {
    width: 80%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
ul{
	text-align: left;
    list-style: none;
    color: white;
}

ul li{
    padding: 5px;
}
a{
 color: white;
	text-decoration: none;
}
a:hover {
    font-weight:bold;
	text-decoration: underline;
}

nav{
    font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	color: White;
    list-style: none;
	text-decoration: none;	
    font-weight: normal;
    margin-top: 100px;
}

main{
    float: right;
	width: 80%;
    height: 600px;
    margin-top:-600px;
    background-color:white;
}

article{
	text-decoration: none;
    color: #1679B2;
    float: left;
    background-color: #e6f0f6;
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
}
.wrapper{
    max-width: 70%;
    margin: auto;
    background-color: #007399;
}
.opcoes-lateral{
    float: right;
    width: 230px;
}
.box{
    min-width:100px;
    height:30px;
    width:auto;
    background-color:#F5F5F5;
    border: none;
    border-radius: 30px 30px 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    font-weight: bold;
	color: #183883;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

.lateral{
    max-width: 20%;
    width: auto;
    height: auto;
    padding: 5px;
}

.menu-selecionado{
    font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: White;
    list-style: none;
	text-decoration: blink;
	font-weight: bolder;
}

.main-lateral{
    float: right;
	width: 17%;
    text-align: right;
    margin-right:5px;
    margin-top:5px;
}
.btn-login{
    border-radius: 4px;
    background-color: #008CBA;
    border: #008CBA;
    padding: 5px;
    margin: 5px;
    width: 80%;
    color: White;
}
.noticia{
    float: left;
}
.logo-furb{
    margin: 10px;
}

