body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form-inline { 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 10px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button:hover {
  background-color:pink;
}

.form-inline input[type=submit]{
  background-color:pink;
  border-color: pink;
  color:white;
}

.required:before {
  content: "*";
  color:red;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}